body {
    margin: 0;
    background-color: #353c30;
}

hr {
    margin: 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.greeting-bar {
    flex: 1;
    text-align: center;
    background-color: #000000eb;
    color: #656b70;
    padding-bottom: 0.5rem;
}

.quote-bar {
    flex: 5;
    text-align: center;
    background-color: #181818;
    ;
    color: #656b70;
}

.inpt-bar {
    text-align: center;
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
}

.input {
    font-size: 1rem;
    flex: 1;
    padding: 0.5rem;
    border-radius: 10px 0 0 10px;
    border: none;
}
.minutes {
    font-size: 1rem;
    padding: 0.5rem;
    border-right: 0;
    box-shadow: none !important;
    border: none;
}
/* .input:focus{
    outline: none;
} */
.btn {
    width: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-left: 0;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border: none;
}

.todos-container {
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
}

.mytodo-container {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #181818;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease;
}

.done, .delete{
    cursor: pointer;
    font-size: 1rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.mytodo {
    flex: 1;
    font-size: 1rem;
}

ul {
    padding-inline-start: 0;
}

.top-bar-container{
    margin-left: 20rem;
    margin-right: 20rem;
}