body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #353c30;
}

hr {
    margin: 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.greeting-bar {
    flex: 1;
    text-align: center;
    background-color: #000000eb;
    color: #656b70;
    padding-bottom: 0.5rem;
}

.quote-bar {
    flex: 5;
    text-align: center;
    background-color: #181818;
    color: #656b70;
}



.todos-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.mytodo-container {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #181818;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease;
}

.done,
.delete {
    /* cursor: pointer; */
    font-size: 1rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.mytodo {
    flex: 1;
    font-size: 1rem;
}

ul {
    padding-inline-start: 0;
}

.top-bar-container {
    margin-left: 13rem;
    margin-right: 13rem;
}

.show-start,
.show-end {
    font-size: 1rem;
}
.show-start{
    padding-right: 0.3rem;
}


.start-text,
.end-text {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    color: #fff
}

.mytodo-container button {
 color: #000000;
 background-color: #fff;
 margin-right: 2px;
 cursor: pointer;
 border: 1px solid #000000;
 transition: background-color 0.3s ease;
 border-radius: 5px;

}

.mytodo-container button:hover{
color: #fff;
background-color: #000000;
}


.fixed-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
  }

.fixed-button button{
    color: #000000;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #000000;
    transition: background-color 0.3s ease;
  }

.fixed-button button:hover{
    color: #fff;
    background-color: #000000;
}



/* form elements style goes below */

.top-bar-container {
   margin-top: 1rem;
   width: 70%;
   margin-right: auto;
   margin-left: auto;
   font-size: 1rem;
}


.inpt-bar {
    display: flex;
    align-items: center;
}
  
  .input {
    flex: 1;
    padding: 8px;
    line-height: 1.5;
    border: 1px solid #000;
    font-size: 1rem;
    border-radius: 10px 0px 0px 10px ;
  }
  
  .time-inputs {
    display: flex;
    align-items: center;
  }
  
  .time-label {
    margin: 5px;
    color: #fff;
  }
  
  .start-time,
  .end-time {
    padding: 8px 4px;
    line-height: 1.5;
    border: 1px solid #000;
    font-size: 1rem;
  }
  
  .btn {
    padding: 9px 12px;
    line-height: 1.5;
    border: 1px solid #000;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    color: #000;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  .btn:hover{
    color: #fff;
    background-color: #000;
  }